<table>
	<ul>
		<a href='/'>Back to Home</a>
	</ul>
	<ul>
		<a href='weather'>Open Weather Map</a>
	</ul>
	<ul>
		<a href='meteo'>Méteo France</a>
	</ul>
	<ul>
		<a href='pollution'>Pollution</a>
	</ul>
	<ul>
		<a href='vol'>Vol de vélo</a>
	</ul>
</table>