<center>
	<h1>Météo France</h1>
	{{> menu}}
	</br>
	<ul style="list-style: none;">
		<li>Date début : {{data.SIV_MENHIR.$.dateDebutTU}}</li>
		<li>Date fin : {{data.SIV_MENHIR.$.dateFinTU}}</li>
		<li>Date d'export : {{data.SIV_MENHIR.$.dateExportTU}}</li>
	</ul>
	<br>
	<form id='departForm' style='font-size: 15pt;' method="post">
		<input name='departement' type='textbox' placeholder='Numéro du département' disabled/>
		<button id="search" type="submit" disabled>Go</button>
	</form>
	<div style='font-size: 15pt; width: 100%'>
		<div id='dataTraitees'>
			<p>
				<b>Données traitées</b>
			</p>
		</div>
		<div id='jsonTraitees'>
			<p>
				<b>JSON</b>
			</p>
		</div>
	</div>
</center>
<div style='overflow: auto; height: 450px;' id='dataTraitees'>
	<p>
		<ul >
			{{#each data.SIV_MENHIR.PHENOMENE}}
				<hr size=3px>
					<li>Département :{{$.departement}}</li>
					<li>Phenomene :{{$.phenomene}}</li>
					<li>Couleur :{{$.couleur}}</li>
					<li>Date Debut EvtTU :{{$.dateDebutEvtTU}}</li>
					<li>Date Fin EvtTU :{{$.dateFinEvtTU}}</li>
				<hr size=3px>
			{{/each}}
		</ul>
	</p>
</div>
<div style='overflow: auto; height: 450px;' id='jsonTraitees'>
	<p>
		{{json}}
	</p>
</div>